In [5]:
SELECT top 5 
    reverse(EmployeeLastName)
from DimEmployee

(No column name)
uopilihP
itteP
evolalluF
snossuB
irarreF eD

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">Concatenate the product name and product type in 1 column and name it CompleteProduct.</span>

In [10]:
SELECT top 5
    CONCAT(DP.ProductName,' ', DP.ProductName, '',  DC.CategoryRange) as productDescription
from DimProduct DP 
join FactSales FS on FS.ProductCode = DP.ProductCode
JOIN DimPromotion DPRO on DPRO.PromotionID = FS.PromotionID
JOIN DimCategory DC on DC.CategoryID = DP.CategoryID

fullProduct
Chocolate iced with sprinkles Chocolate iced with sprinklesDoughnuts
Glazed lemon filled Glazed lemon filledDoughnuts
Barm cake Barm cakeBreads
Poppyseed PoppyseedBagels
Barley bread Barley breadBreads