In [9]:
SELECT  
    COUNT(FS.TransactionNo) as num_of_transtion,
    month(FS.FullDateTime) as month_of_transtion
from FactSales FS
JOIN DimTransactionType DTT on FS.TransactionNo = DTT.TransactionNo
where YEAR(FS.FullDateTime) = 2019
GROUP by month(FS.FullDateTime)
ORDER by month_of_transtion

num_of_transtion,month_of_transtion
171,1
208,2
192,3
207,4
216,5
219,6
221,7
209,8
218,9
216,10
182,11
217,12

In [25]:
SELECT DE.EmployeeFirstName, DE.EmployeeLastName, COUNT(FS.SalesAmount) as salesCount
FROM FactSales FS 
JOIN DimEmployee DE on FS.EmployeeID = DE.EmployeeID
WHERE FS.PromotionID is not NULL
GROUP by DE.EmployeeFirstName, DE.EmployeeLastName
HAVING COUNT(FS.SalesAmount) > 43
ORDER by salesCount DESC

EmployeeFirstName,EmployeeLastName,salesCount
Jeniffer,Handsheart,61
Cary,De Ferrari,58
Elwyn,Ommundsen,58
Chelsie,M'Barron,56
Konstantin,Philipou,53
Eileen,Rouse,53
Glory,Meiningen,52
Storm,Morad,52
Stearne,Petti,52
Gerrie,Hogsden,52
Rachel,Gaffer,51
Germain,Volk,51
Claudina,Purry,51
Anabel,Ricardet,50
Ignacius,Simonassi,50
Oby,Fullalove,49
Tristam,Burrell,49
Berta,Mewrcik,49
Garnet,Matzkaitis,48
Berty,Packer,48
Celine,Cammell,48
Lesly,Pound,47
Carlina,Stopp,44
Klara,Bonevant,44