In [22]:
SELECT
    sum(FactSales.TransactionNo) as numOdTrans, MONTH(FullDateTime) as month
from DimTransactionType
    join FactSales on FactSales.TransactionNo = DimTransactionType.TransactionNo
WHERE YEAR(FullDateTime) = '2019'
GROUP by MONTH(FullDateTime)
ORDER by [month]

numOdTrans,month
550,1
607,2
594,3
623,4
681,5
654,6
682,7
643,8
628,9
671,10
575,11
641,12

In [35]:
SELECT DE.EmployeeFirstName, DE.EmployeeLastName, COUNT(FS.SalesAmount)
from FactSales FS
JOIN DimEmployee DE on FS.EmployeeID = DE.EmployeeID 
GROUP by DE.EmployeeFirstName, DE.EmployeeLastName
HAVING COUNT(FS.SalesAmount) > 150
ORDER by COUNT(FS.SalesAmount) DESC;

EmployeeFirstName,EmployeeLastName,(No column name)
Gerrie,Hogsden,169
Germain,Volk,168
Chelsie,M'Barron,163
Eileen,Rouse,159
Carlina,Stopp,159
Konstantin,Philipou,158
Lesly,Pound,157
Storm,Morad,156

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">List the amount of waste per month that is gifted</span>

In [45]:
SELECT  COUNT(Amount), ActionTaken
from FactWaste 
GROUP by ActionTaken

(No column name),ActionTaken
185,charity
183,discard
188,gift
174,personal use
1,test

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">List how many different waste actions occurred per month in 2020</span>

In [65]:
SELECT FORMAT(FullDate, 'MMM') as month, COUNT(ActionTaken) as numAction
from FactWaste
where YEAR(FullDate) = 2020
GROUP by  FORMAT(FullDate, 'MMM')

month,numAction
Apr,30
Aug,31
Dec,31
Feb,29
Jan,31
Jul,31
Jun,30
Mar,31
May,31
Nov,30
Oct,31
Sep,30

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">What is the minimum and maximum amount of waste for January 2019 per different actions</span>

In [80]:
SELECT MIN(Amount) as min, MAX(Amount) as max, ActionTaken
from FactWaste
where year(FullDate) = 2019 and MONTH(FullDate) = 1
GROUP by ActionTaken

min,max,ActionTaken
154.14,840.89,charity
355.28,491.88,discard
188.61,744.86,gift
128.79,857.44,personal use

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">What is the amount of waste and the quantity of waste per month when the quantity of waste is at least 30.</span>

In [89]:
SELECT FORMAT(FullDate, 'MMM') as month, COUNT(Amount) as qty, sum(Amount) as amount
from FactWaste
GROUP by FORMAT(FullDate, 'MMM')
HAVING COUNT(Amount) > 60

month,qty,amount
Aug,62,30797.00
Dec,62,29836.16
Jan,61,29596.02
Jul,62,32151.49
Mar,62,33839.29
May,63,33302.44
Oct,62,31848.11