In [5]:
SELECT 
    CONVERT(char, EmployeeID) + EmployeeFirstName
FROM DimEmployee

(No column name)
1 Konstantin
2 Stearne
3 Oby
4 Meggie
5 Cary
6 Glory
7 Layne
8 Myriam
9 Jeniffer
10 Chelsie
11 Tristam
12 Berta
13 David
14 Kirsti
15 See
16 Celine
17 Ignacius
18 Klara
19 Storm
20 Rachel
21 Elwyn
22 Anabel
23 Barret
24 Germain
25 Garnet
26 Jessika
27 Carlina
28 Berty
29 Baryram
30 Claudina
31 Gerrie
32 Eileen
33 Biddie
34 Lesly
35 Bernadene

In [7]:
SELECT 
    CAST(EmployeeID as char(1)) + EmployeeFirstName
FROM DimEmployee

(No column name)
1Konstantin
2Stearne
3Oby
4Meggie
5Cary
6Glory
7Layne
8Myriam
9Jeniffer
*Chelsie
*Tristam
*Berta
*David
*Kirsti
*See
*Celine
*Ignacius
*Klara
*Storm
*Rachel
*Elwyn
*Anabel
*Barret
*Germain
*Garnet
*Jessika
*Carlina
*Berty
*Baryram
*Claudina
*Gerrie
*Eileen
*Biddie
*Lesly
*Bernadene

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">List each employee’s first name with the year of their birth in one column</span>

In [16]:
SELECT top 5
    EmployeeFirstName + ' ' + cast(EmployeeDOB as char) as employeeWthDob
FROM DimEmployee

employeeWthDob
Konstantin 1981-07-31
Stearne 1982-02-24
Oby 1983-01-19
Meggie 1992-03-16
Cary 1995-01-12

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">List each employee’s first name with the day and month of their employment’s start date in one column</span>

In [33]:
SELECT top 5 
    DE.EmployeeFirstName + ' ' + SUBSTRING(CAST(DE.EmployeeStartDate as char), 6, 8) as empWithMonthDate
from DimEmployee DE

empWithMonthDate
Konstantin 02-15
Stearne 06-26
Oby 05-22
Meggie 02-07
Cary 04-08

In [34]:
DECLARE @string VARCHAR(10);
SET @string = 1;
SELECT @string + ' is a string.'

(No column name)
1 is a string.

In [37]:
DECLARE @notastring INT; -- Declare an integer variable
SET @notastring = 1; -- Set the value to 1
SELECT CAST(@notastring AS VARCHAR(10)) + ' is not a string.'; -- Corrected concatenation

(No column name)
1 is not a string.