In [13]:
DECLARE @yourDateString NVARCHAR(10) = '12-09-2018';
SELECT @yourDateString + '  = the input.';

SET DATEFORMAT dmy;
SELECT CONVERT(date, @yourDateString) as DMY

SET DATEFORMAT ymd;
SELECT CONVERT(date, @yourDateString) as ymd

(No column name)
12-09-2018 = the input.

DMY
2018-09-12

ymd
2018-12-09

In [14]:
SET LANGUAGE Greek;  
SELECT DATENAME(month, GETDATE()) AS 'Month Name';  


SET LANGUAGE us_english;  
SELECT DATENAME(month, GETDATE()) AS 'Month Name' ;

Month Name
Φεβρουαρίου

Month Name
February

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">List the date of birth of all the employees in dmy and mdy formats.</span>

In [23]:

SELECT TOP 5 
    FORMAT(CONVERT(date, EmployeeDOB), 'dd MMMM yyyy') AS FormattedDOB
FROM DimEmployee;

FormattedDOB
31 July 1981
24 February 1982
19 January 1983
16 March 1992
12 January 1995

In [34]:

SELECT TOP 5 
    FORMAT(CONVERT(date, EmployeeDOB), 'MM/dd/yyyy') AS FormattedDOB
FROM DimEmployee;

FormattedDOB
07/31/1981
02/24/1982
01/19/1983
03/16/1992
01/12/1995

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">List the month of birth of the top 3 employees, order ascending on their last name.</span>

In [43]:
SELECT top 5 
    EmployeeLastName + ' ' + FORMAT(EmployeeDOB, 'MMMM') as employeeWithBirthMonth
from DimEmployee
ORDER by EmployeeLastName ASC;

employeeWithBirthMonth
Birch September
Bonevant June
Burrell July
Bussons March
Cakebread September

1. <span style="background-color: transparent; font-size: 11pt; text-wrap: wrap;">List the month of birth of the top 3 employees in any language that you like, ordering ascending on their last name.</span>