In [ ]:
SELECT E.employeeFirstName, DATEDIFF(YEAR,E.EmployeeDOB,GETDATE()) As EmployeeAge, E.EmployeeActive
from DimEmployee E
where E.EmployeeActive = 'NO';

In [ ]:
SELECT top 5
    P.promotionType, S.SalesAmount, DT.DTYear
from DimPromotion P
    JOIN FactSales S ON p.PromotionID = S.PromotionID
    JOIN DimDateTime as DT on DT.FullDateTime = S.FullDateTime
where DT.DTYear > '2019';

In [ ]:
SELECT S.SalesAmount, DT.DTHour, DT.DTYear, DT.DTMonth
from DimPromotion P
    RIGHT JOIN FactSales S on P.PromotionID = S.PromotionID
    JOIN DimDateTime DT ON DT.FullDateTime = S.FullDateTime
where DT.DTYear = '2019' AND
    P.PromotionID is null AND
    DT.DTHour = '12' AND
    DT.DTMonth BETWEEN 10 AND 11;

In [ ]:
SELECT S.SalesAmount, S.Quantity, DT.DTTheDayOfWeek
from DimPromotion P
    RIGHT JOIN FactSales S ON P.PromotionID = S.ProductCode
    JOIN DimDateTime DT ON DT.FullDateTime = S.FullDateTime
where P.PromotionID is null AND
    S.Quantity <20 and
    DT.DTTheDayOfWeek = '1';

List the date, category range, product name and employee first name and last name of every sale occurred in december in descending date order.

In [59]:
SELECT 
    CONCAT(DDT.DTDay ,'/', DDT.DTMonth, '/', DDT.DTYear) as date, CONCAT(DE.EmployeeFirstName ,' ' ,DE.EmployeeLastName) as employeeName,
    DDT.DTMonthName
from DimDateTime DDT
    JOIN FactSales FS on DDT.FullDateTime = FS.FullDateTime
    JOIN DimProduct DP ON DP.ProductCode = FS.ProductCode
    JOIN DimCategory DC ON DC.CategoryID = DP.CategoryID
    JOIN DimEmployee DE ON DE.EmployeeID = FS.EmployeeID
where DDT.DTMonthName = 'december';