In [16]:
    SELECT SUM(FS.Quantity) as sales , 'at most 25' as Age
    FROM DimEmployee DE
        JOIN FactSales FS on DE.EmployeeID = FS.EmployeeID
    WHERE UPPER(DE.EmployeeActive) = 'Yes' and
        DATEDIFF(YEAR, DE.EmployeeDOB, GETDATE()) <= 25
UNION
SELECT SUM(FS.Quantity) as sales , 'at least 25' as Age
FROM DimEmployee DE 
    JOIN FactSales FS on DE.EmployeeID = FS.EmployeeID
    WHERE UPPER(DE.EmplyeeActive) = 'Yes' and 
        DATEDIFF(YEAR, DE.EmployeeDOB, GETDATE()) > 25

Sales,Age
17925,At most 25
78721,At least 26